@use 'sass:color';

$color-default: #05090E;
$color-danger: #FF3B30;
$color-warning: #FF6B00;
$color-light: color.adjust($color: #040405, $lightness: 78%);
$color-disabled: color.adjust($color: #040405, $lightness: 96%);
